<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Crypto Currencies
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Crypto</ion-title>
    </ion-toolbar>
  </ion-header>

  <ul>
    <li [routerLink] = "['/bitcoin']" routerDirection = "forward">Bitcoin</li>
    <li [routerLink] = "['/ethereum']" routerDirection = "forward">Ethereum</li>
    <li [routerLink] = "['/binance']" routerDirection = "forward">Binance Coin</li>
    <li [routerLink] = "['/xrp']" routerDirection = "forward">XRP</li>
    <li [routerLink] = "['/doge']" routerDirection = "forward">DOGE</li>
  </ul>

  <h6>Flashlight</h6>
  <ion-button (click) = "Flashlight()">Flashlight</ion-button>

  <hr>

  <h6>GPS</h6>
  <ion-button (click) = "GPS()">GPS</ion-button>
  <br>
  {{lat}} {{long}}
</ion-content>
